@import '../theme';

.base {
  position: fixed;
  inset: 0;
  z-index: 1300;
  visibility: hidden;
  opacity: 0;
  
  &.isActive {
    visibility: visible;
    opacity: 1;
  }
}

.overlay {

  @keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }


  animation: fadein 1s;
  position: fixed;
  inset: 0;
  z-index: -1;
  background-color: rgba(mix($violette, #333, 10), .9);
  transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  visibility: hidden;
  opacity: 0;
  
  &.isActive {
    visibility: visible;
    opacity: 1;
  }
}

.inner {
  overflow-y: auto;
  max-height: 80vh;
  margin-top: 50px;
}

.close {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 3;
  transition: .1s;
  
  &:active {
    transform: rotate(90deg) translateY(3px) ;
    color: #fff;
  }
}

.modal {
  height: auto;
  position: fixed;
  top: auto;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1200;
  transition: .2s;
  animation: slideUp 1s both cubic-bezier(0, 1, 0, 1);

  &::before {
    content: '';
    background-color: rgba(0, 0, 0, 1);
    //backdrop-filter: blur(5px);
    transform: skewY(3deg);
    position: absolute;
    width: 100%;
    top: 0;
    bottom: -10vh;
  }

  @keyframes slideUp {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: none;
    }
  }
}
