@import '../theme';

.base {
  pointer-events: none;
  user-select: none;
}

.tagline {
  animation: appear 1s 2s both;
}

.inner {
  text-align: center;
  padding: 50px 0px;
  z-index: 1;
  position: relative;
  color: #fff;
}

.tagline1 {
  text-align: center;
  bottom: 15%;
  left: 30px;
  right: 0;
}

.tagline2 {
  text-align: center;
  bottom: 15%;
  left: 30px;
  right: 0;
}

.tagline3 {
  text-align: center;
  bottom: 15%;
  left: 30px;
  right: 0;
}


.tagline4 {
  text-align: center;
  bottom: 15%;
  left: 30px;
  right: 0;
}
